@charset "utf-8";
body,section,h1,h2,button,img{
    display: block; margin: 0; padding: 0;
}
body{ background: #EC7881; overflow: hidden; }
html,body{ width: 100vw; height: 100vh; }
h1,h2{ text-indent: -9999px; }

#wrapper{ 
    width: 640px; height: 100%; 
    margin: 0 auto; overflow: hidden; 
    background: #fff;
}
#wrapper>section{ 
    width: 480px; height: 640px; 
    margin: 0 auto; overflow: hidden; 
}

/* -----story section----- */
#sect01{ display: block; position: relative; }
#sect02, #sect03, #sect04{display: none; position: relative; }
#sect05{ display: none; }

.img_top{
    width: 350px; height: 450px; margin: 0 auto;
    position: relative;
}
.s01>img{
    width: 348px; height: 450px; margin: 0 auto; 
}
.s02>img{
    width: 330px; height: 330px; margin: 10% auto;
}
.s03>img{
    width: 300px; height: 300px; margin: 10% auto;
}
.s04>img{
    width: 150px; height: 150px; margin: 15% auto;
}

.img_b01{
    width: 320px; height: 140px; margin: 0 auto;
    position: absolute; left: 50%; top: 80%;
    transform: translateX(-50%); z-index: 100;
}
.img_b04{
    width: 200px; height: 245px; margin: 0 auto;
    position: absolute; left: 50%; top: 30%;
    transform: translateX(-50%); z-index: 100;
}

.start{
    width: 200px; height: 50px; background: #F6C4C5;
    border-radius: 30px; border: 0; margin: 0 auto; 
    font-size: 24px; font-weight: bold; color: #fff;
    position: absolute; left: 50%; top: 75%;
    transform: translateX(-50%); z-index: 10000; 
}
.innerbox{
    width: 280px; height: 100px; margin: 0 auto; 
    border: 3px solid #F6C4C5; background: #fff;
    position: absolute; left: 50%; top: 75%;
    transform: translateX(-50%); z-index: 1000;
}
.innerbox>p{
    width: 280px; height: 100px; margin: 15px auto;
    font-size: 20px; font-weight: bold; 
    color: #EC7881; text-align: center;
}
.innerbox>p>.comment{ color: #3F57D1; }
.innerbox>p>.comment>.emphasis{ color: #D3251D; }
.say02{ display: none; }

.rule_box{
    width: 300px; height: 400px; margin: 10% auto;
    background: #F6C4C5; border: 3px solid #EC7881;
}
.rule_box>h3{
    font-size: 36px; font-weight: bold; color: #fff; 
    text-align: center; padding-bottom: 10px;
}
.rule_box>.score1, .rule_box>.score2{
    width: 210px; height: 40px; margin: -10px auto;
}
.score1>img, .score2>img{
    display: block; float: left; 
    padding-left: 5px;
    width: 45px; height: 40px;
}
.rule_box>.score1>.do02{
    width: 48px; height: 30px; margin-top: 10px;
}
.rule_box>.score1>.do03{
    width: 48px; height: 35px; margin-top: 5px;
}
.rule_box>.number{
    font-size: 25px; font-weight: bold; 
    color: #fff; text-align: center;
}
.rule_box>.number>.num{ font-size: 35px; padding-top: 40px; }


 /* mobile */
@media screen and ( min-width: 320px ) and ( max-width: 760px ){
    body{ background: #fff; overflow: hidden; }
    #wrapper{ 
        width: 100%; height: 100%; 
        margin: 0 auto; overflow: hidden;
    }
    #wrapper>section{ 
        width: 100%; height: 100%;  
        margin: 0 auto; overflow: hidden; 
    }
}

/* -----main section----- */